{% extends 'layouts/base.j2' %}

{% block content %}
    <div class="login-page d-flex align-items-center justify-content-center vh-100">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 offset-lg-4">
                    <div class="card border-0 shadow-lg rounded-3">
                        <div class="card-body p-4">
                            <form method="post" autocomplete="off">
                                {% csrf_token %}

                                <div class="text-center mb-3">
                                    <img src="{{ static("img/smart-bozor-logo.png") }}" alt="Smart bozor"
                                         class="img-fluid"/>
                                </div>

                                {{ bootstrap_form(form) }}

                                <button type="submit" class="btn btn-primary d-block w-100">
                                    <i class="bi bi-box-arrow-in-right"></i>
                                    {{ _("Tizimga kirish") }}
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

