<div class="modal fade modal-lg" id="id-ajax-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <h5 class="modal-header">
                <span></span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </h5>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

<script src="{{ static("js/ajax-modal.min.js") }}?{{ STATIC_VERSION }}"></script>
